<section *ngIf="step1" class="w-50 mx-auto rounded bg-main-light p-3 shadow mb-3">
<form  [formGroup]="fogetForm" (ngSubmit)="forgetPassword()">
    <label for="email">email</label>
    <input formControlName="email" type="email" class="form-control" id="email">
    <button class="main-btn w-100 mt-3"> Forget Password</button>
</form>
<p *ngIf="userMsg" class="alert alert-danger mx-auto w-75 p-1 mb-0 mt-3">{{userMsg}}</p>
</section>





<section  *ngIf="step2" class="w-50 mx-auto rounded bg-main-light p-3 shadow">
<form  [formGroup]="resetCodeForm"  (ngSubmit)="resetCode()">
    <label for="resetCode">Reset Code</label>
    <input formControlName="resetCode" type="text" class="form-control" id="resetCode">
    <button class="main-btn w-100 mt-3"> Reset Password</button>
</form>
<p *ngIf="userMsg" class="alert alert-danger mx-auto w-75 p-1 mb-0 mt-3">{{userMsg}}</p>
</section>


<section  *ngIf="step3" class="w-50 mx-auto rounded bg-main-light p-3 shadow">
<form [formGroup]="resetPasswordForm"  (ngSubmit)="newPassword()" >
    <label for="newPassword">Reset Password</label>
    <input formControlName="newPassword" type="email" class="form-control" id="newPassword">
    <button class="main-btn w-100 mt-3"> Reset Password</button>
</form>
<p *ngIf="userMsg" class="alert alert-danger mx-auto w-75 p-1 mb-0 mt-3">{{userMsg}}</p>
</section>