$main-color: #0aad0a;



:host {
    min-height: 100vh;
display: flex;
flex-direction: column;
}

.main-section{
    padding-top: 80px;
}

.btn-up{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99 ;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color:$main-color ;
    border: unset;
    color: white;
    font-size: 20px ;

}